@use '@assets/styles/globals' as *;

$width-tablet: 1000px;
$width-small-tablet: 900px;
$mobile-width: 750px;
$icon-height: 36px;

ul.buttonList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 2px 27px;

  & > .fastCatalogItem {
    display: flex;

    width: auto;
    padding: 6px 16px;

    border-radius: $border-radius;
    border: 1px solid transparent;
    transition: all 0.5s ease-in;

    &:hover {
      border: 1px solid $primary-white;
    }
  }
  .label {
    white-space: nowrap;
  }

  .icon {
    height: $icon-height;
    width: auto;
    padding-right: 8px;
  }
}

@media screen and (max-width: $width-tablet) {
  .icon {
    display: none;
    width: 0;
  }
}

@media screen and (max-width: $width-small-tablet) {
  ul.buttonList {
    padding: 2px 10px;
    margin: 0 auto;

    & > .fastCatalogItem {
      padding: 6px 2px;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  @media (pointer: coarse) {
    .buttonList {
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
