@use '@assets/styles/globals.scss' as *;

.container {
  width: 100%;
  max-width: 1440px;
  padding: 40px 30px 30px;
  background-color: $primary-white;
}

.productContainer {
  width: 100%;
  margin: 40px auto;
  border: 1px solid $modal-border;
  border-radius: $border-radius;
}
