/* export enum Sizes {
  Header = '144px',
  SubHeader = '72px',
  BodyContainer = '1200px',
  LogoHeight = '28px',
  LogoWidth = '74px',
} */
@use '../../../assets/styles/globals.scss' as *;

$header-height: 144px;
$logo-height: 28px;

.header {
  background: $primary-black;
  // color: $primary-black;
  box-shadow: 'none';
  border-radius: $border-radius;
  height: $header-height;
}

ul {
  display: 'flex';
  flex-direction: 'row';
  padding: 0;
}

.content {
  display: 'flex';
  flex-direction: 'column';
  padding: 0;
}

.subheader {
  height: calc($header-height / 2);
}

.logo {
  height: $logo-height;
  width: 'auto';
}
