@use '@assets/styles/globals' as *;

.rsschool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 90rem;
  margin: 50px auto;
  background: $whitesmoke;
}

.project,
.collab {
  text-align: center;
  margin-top: 30px;
  font-weight: 800;
  padding-left: 30px;
  padding-right: 30px;
}

.logoImage {
  margin: 30px auto;
  cursor: pointer;
  transition: all ease 0.3s;
  width: 110px;

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      transform: scale(1.05);
    }
  }
}
