@use '@assets/styles/globals.scss' as *;

$breakpoint400: 400px;

.modal {
  max-width: 500px;
  border-radius: $border-radius;
  text-align: center;
  margin: 0 auto;
  .text {
    color: $primary-black;
  }

  .buttonClose {
    color: $controls;
    height: 56px;
  }

  .button {
    background-color: $button-dark;
    border-radius: $border-radius;
    color: $primary-white;
    height: 56px;
    border: none;

    &:disabled {
      background-color: $disable-button-dark;
      color: $primary-white;
      cursor: not-allowed;
    }
  }
}

.confirmModal {
  .button {
    background-color: $button-dark;
    border-radius: $border-radius;
    color: $primary-white;
    padding: 0 20px;
    height: 48px;
    border: none;

    &:disabled {
      background-color: $disable-button-dark;
      color: $primary-white;
      cursor: not-allowed;
    }
  }

  .buttonClose {
    color: $controls;
    height: 48px;
    padding: 0 20px;
  }
}
@media screen and (max-width: $breakpoint400) {
  .buttonList {
    display: flex;
    flex-direction: column;
  }
}
