@use '../../../assets/styles/globals' as *;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;

  padding: 30px 20px;
  background: url(../../../assets/images/footer.png) center center / cover
    no-repeat;
}

.bigContainer {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 12px 16px;
  text-align: start;
  color: $button-dark;
  font-size: 18px;
}

.link {
  margin: 12px 0 12px 16px;
  text-decoration: none;
  color: $text;

  &:hover {
    @media (hover: hover) {
      text-decoration: underline;
    }
  }
}

.description {
  text-align: center;
  color: $text;
  font-size: 18px;
}

@media (max-width: 500px) {
  .footer {
    background: url(../../../assets/images/footer-small.png) center center /
      cover no-repeat;
  }

  .bigContainer {
    flex-direction: column;
  }
}
