@use '@assets/styles/globals' as *;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 30px 20px;
  background: url(@assets/images/footer.png) center center / cover no-repeat;
}

.bigContainer {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-around;
}

.container,
.contactsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.teamContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.title,
.contactsTitle,
.teamTitle {
  padding: 12px 16px;
  text-align: start;
  color: $button-dark;
  font-size: 18px;
}

.teamMember {
  display: flex;
  align-items: center;
  gap: 8px;
}

.name {
  font-weight: bold;
  color: $button-dark;
  text-decoration: underline;
  text-decoration: none;
}

.link {
  margin: 12px 0 12px 16px;
  text-decoration: none;
  color: $text;
  cursor: pointer;
  transition: all ease 0.3s;

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      transform: scale(1.05);
    }
  }
}

.description {
  text-align: center;
  color: $text;
}

.githubIcon {
  vertical-align: middle;
  margin-right: 6px;
  margin-bottom: 3px;
}

@media (min-width: 501px) and (max-width: 650px) {
  .bigContainer {
    flex-direction: column;
  }

  .contactsContainer,
  .teamContainer {
    align-items: flex-end;
    text-align: right;
  }

  .contactsTitle,
  .teamTitle {
    padding: 12px 0px;
  }
}

@media (max-width: 500px) {
  .footer {
    background: url(@assets/images/footer-small.png) center center / cover
      no-repeat;
  }

  .bigContainer {
    flex-direction: column;
  }

  .contactsContainer,
  .teamContainer {
    align-items: flex-end;
    text-align: right;
  }

  .contactsTitle,
  .teamTitle {
    padding: 12px 0px;
  }

  .description {
    font-size: 14px;
  }
}
