@use '@assets/styles/globals' as *;

.buttonBack {
  display: block;
  width: 100px;
  height: 40px;
  margin-left: auto;
  text-transform: uppercase;
  border: none;
  border-radius: $border-radius;
  background-color: $button-dark;
  color: $primary-white;
  transition: all ease 0.5s;

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      cursor: pointer;
      transform: scale(1.05);
      background-color: $card-btn-hover;
    }
  }
}
