$primary-black: rgba(0, 0, 0, 0.8);
$primary-white: #ffffff;
$secondary-light: #cfd4dd;
$button-dark: #192a51;
$label: rgba(0, 0, 0, 0.6);
$text: rgba(0, 0, 0, 0.87);
$button-secondary: rgba(0, 0, 0, 0.1);
$media-background: rgba(224, 224, 224, 0.5);
$modal-background: rgba(89, 80, 121, 0.1);
$modal-border: rgba(89, 80, 121, 0.3);
$disable-button-dark: rgba(89, 80, 121, 0.5);
$controls: #595079;
$error: #d32f2f;
$light-header: #fcf7f8;
$form-background: rgba(206, 211, 220, 0.2);
$whitesmoke: whitesmoke;
$header-black-background: rgba(0, 0, 0, 0.75);
$card-color: #ced3dc;
$product-dark: rgba(0, 0, 0, 0.75);
$product-name-color: #ced3dc;
$product-benefits-background: rgba(0, 0, 0, 0.5);
$discount-color: #d2191c;
$about-bg: grey;
$dark-grey: #333;
$about-hover: #0366d6;
$about-card-content: #fafafa;
$cart-border: rgba(89, 80, 121, 0.2);
$divider: rgba(0, 0, 0, 0.12);

$btn-typography: 15px;
$header-catalog-typography: 13px;
$page-header-typography: 15px;
$header-mobile-typography: 15px;
$header-typography: 15px;
$typography-label: 12px;

$typography-button: 15px;
$typography-header-catalog: 13px;
$typography-page-header: 60px;
$typography-page-header-mobile: 36px;
$typography-header: 48px;
$typography-header-mobile: 32px;
$typography-big-text: 24px;
$typography-big-text-mobile: 18px;
$typography-subheader: 34px;
$typography-card-header: 20px;
$typography-card-subheader: 0.875rem;
$typography-text: 16px;
$typography-copyright-stepper: 14px;

$border-radius: 5px;
$benefits-border: 3px solid plum;

$font-family: 'Roboto', sans-serif;
$line-height: 120%;

$base-weight: 400;
$subheader-weight: 500;
$btn-weight: 500;
$fast-catalog-weight: 300;

$content-width: 1440px;

$card-hover-border: #e6e6fa;
$shadow-color: rgba(0, 212, 255, 0.3);
$card-btn-hover: rgba(0, 0, 0, 0.5);
$discounted-price: #4682b4;

:root {
  padding: 0;
  font-family: $font-family;
  font-weight: $base-weight;
}
