@use '@assets/styles/globals' as *;

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
  max-width: 1440px;
  min-height: 500px;
  padding: 50px 15px;
}

.textLoading {
  font-size: 40px;
  margin: 300px 0;
  color: $primary-black;
}

.pagination {
  margin-bottom: 15px;
}
